body {
  background-color: #F3F3F3; }

label, input, span {
  font-family: lato !important;
  font-size: 1em !important;
  font-weight: 300 !important; }

label {
  width: 20%; }

input {
  display: inline !important;
  border: 0 !important;
  margin-bottom: 15px; }

.title {
  font-family: lato;
  font-size: 2em;
  margin-bottom: 30px; }

.form-box {
  margin: 0 auto;
  float: none !important; }

/*==========  Submit Button  ==========*/
.btn-push {
  position: relative;
  top: 0px;
  text-decoration: none;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease; }

.btn-push:hover {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease; }

.btn-push.orange {
  background: #f57936;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #bc4809;
  -moz-box-shadow: 0px 5px 0px #bc4809;
  -ms-box-shadow: 0px 5px 0px #bc4809;
  -o-box-shadow: 0px 5px 0px #bc4809;
  box-shadow: 0px 5px 0px #bc4809;
  text-shadow: 1px 1px 1px #bc4809; }

.custom-style {
  font-size: 12px !important;
  color: #f57936 !important;
  border: 2px solid #f57936 !important; }
