$font : lato ;
$font-size : 1em ;
$font-weight : 300 ;
$margin-bottom : 15px;
$yellow-color: #f57936;;

body{
	background-color: #F3F3F3 ;
}
label,input,span{
	font-family: $font !important; 
	font-size: $font-size !important ;
	font-weight: $font-weight !important;
}

label{
	width:20%
}
input{
	display: inline !important; 
	border: 0 !important;
	margin-bottom: $margin-bottom ; 
}

.title{
	font-family: $font; 
	font-size: $font-size*2 ;
	margin-bottom: $margin-bottom*2 ;
}

.form-box {
  margin:0 auto;
  float: none !important
}



/*==========  Submit Button  ==========*/
.btn-push {
  position: relative;
  top: 0px;
  text-decoration: none;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

.btn-push:hover {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

.btn-push.orange {
  background: $yellow-color ;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #bc4809;
  -moz-box-shadow: 0px 5px 0px #bc4809;
  -ms-box-shadow: 0px 5px 0px #bc4809;
  -o-box-shadow: 0px 5px 0px #bc4809;
  box-shadow: 0px 5px 0px #bc4809;
  text-shadow: 1px 1px 1px #bc4809;
}
.custom-style{

    font-size:12px !important;
    color:$yellow-color !important;
    border:2px solid $yellow-color !important ;

}

