                  <form ng-submit='sendData(infos)'>
                    <div class='form-box col-md-4'>
                      <fieldset class="form-group">
                        <div class="top">
                          <h1 class="title"><span id="logo">Ihre Immobilie</h1>
                        </div>
                        <label for="name">Street</label>
                        <input type="text" class="form-control" id="street" ng-model="infos.street" placeholder="" required>
                      </fieldset>
                        <fieldset class="form-group">
                        <label for="username">House Number</label>
                        <input type="text" class="form-control" id="house number" ng-model="infos.houseNumber" placeholder="" required>
                      </fieldset>
                        <fieldset class="form-group">
                        <label for="email">Postal Code</label>
                        <input type="text" class="form-control" id="postal code" ng-model="infos.postalCode" placeholder="" required>
                      </fieldset>
                        <fieldset class="form-group">
                        <label for="userRole">City</label>
                        <input type="text" class="form-control" id="city" ng-model="infos.city" placeholder="" required>
                      </fieldset>
                      <fieldset class="form-group">
                        <input type="checkbox" class="checkradios custom-style" name="checkbox1"><span> Option</span> 
                      </fieldset>
                      <fieldset class="form-group">
                        <div class='row'>
                          <div class='col-md-3'>
                            <input type="radio" class="checkradios custom-style" name="optradio"><span> Male</span> 
                          </div>
                          <div class='col-md-3'>
                            <input type="radio" class="checkradios custom-style" name="optradio"><span> Female</span> 
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group">
                          <div class='row'>
                            <div class='col-md-3'>
                              <input type="radio" class="checkradios custom-style" name="optradio2"><span> Option 1</span> 
                            </div>
                            <div class='col-md-3'>
                              <input type="radio" class="checkradios custom-style" name="optradio2"><span> Option 2</span> 
                            </div>
                            <div class='col-md-3'>
                              <input type="radio" class="checkradios custom-style" name="optradio2"><span> Option 3</span> 
                            </div>
                          </div>
                      </fieldset>
                       <button type="submit" class="btn btn-block btn-push orange " >Save</a>
                       </div>
                  </form>

                    <script type="text/javascript">
                    //Scruot for Radio and checkboxes style 
                    $(document).ready(function(){
                        $('.checkradios').checkradios();
                    });
                    </script>
